<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to  {{ title }}!
  </h1>
  <img width="100" alt="Katayuno Logo" 
  src="../assets/LogoCruasan.png">
</div>

<h2>Here you can start katayuning: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/guide/testing">Angular 5 Documentation </a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=BumgayeUC08">AngularFirebase TDD video</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://jasmine.github.io/api/3.0/global">Jasmine Docs</a></h2>
  </li>
</ul>



